<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <meta charset="utf-8">
    <title>Kt's Totes</title>
  </head>

  <body>

    <header id="main-header">
        <div class="container">
          <h1>KT's Totes</h1>
      </div>
    </header>


  </body>

  <nav class="navbar button">
      <div
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="shop">Shop</a></li>
          <li><a href="contact">Contact Me</a></li>
        </ul>
    </div>
  </nav>

</html>
